<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/peruicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/peruicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/peruicon/favicon-16x16.png">
    <link rel="manifest" href="/peruicon/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Try wgpu!</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <canvas id="main-canvas"></canvas>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
